body {
    display: grid;
    grid-template-areas:
        ". h ."
        ". t l";
    grid-template-columns: 1fr 762px 1fr;
    grid-template-rows: 60px 1fr;
    gap: 50px;
    justify-content: center;
    font-family: Lato;
    padding: 0 10px;
    margin: 0;
}

h1.bingo {
    grid-area: h;
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
}

div.list {
    border: 2px solid black;
    padding: 10px;
    grid-area: l;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

div.drag-object {
    padding: 10px 8px;
    height: fit-content;
    width: fit-content;
    max-width: 110px;
    border: 2px solid grey;
    background-color: lightgrey;
    cursor: grab;
}

table {
    grid-area: t;
}

table,
td,
tr {
    border: 2px solid grey;
    border-collapse: collapse;
}

td {
    width: 150px;
    height: 150px;
    padding: 0;
}

td>div {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td>div.mid-field {
    background-color: black;
    color: snow;
}